<div class="social-icons">
    <a href="https://www.facebook.com/adclyent/" target="_blank"><img src="assets/images/facebook_372387.png" alt="facebook"></a>
<a href="https://www.instagram.com/mondala.mike/" target="_blank"><img src="assets/images/instagram_372395.png" alt="Instagram"></a>
<a href="https://twitter.com/MichaelMondala1" target="_blank"><img src="assets/images/twitter_372412.png" alt="Twitter"></a>
<a href="https://www.youtube.com/channel/UCiu3X86yanN8x2hLgcS3b7Q" target="_blank"><img src="assets/images/youtube_372420.png" alt="Youtube"></a>

</div>      
