/* Reset some styles to make text more readable in dark mode */
body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
  }
  
  /* Links */
  a {
    color: #3f51b5; /* Link color */
  }
  
  /* Header */
  header {
    background-color: #212121; /* Dark header background color */
    color: #ffffff; /* Light header text color */
  }
  
  /* Footer */
  footer {
    background-color: #212121; /* Dark footer background color */
    color: #ffffff; /* Light footer text color */
  }
  
  /* Dark mode toggle button */
  #dark-mode-toggle {
    background-color: #3f51b5; /* Dark mode toggle button background color */
    color: #ffffff; /* Light text color on the button */
  }
  
  /* Add more styles for specific elements as needed */
  